@{
    ViewData["Title"] = "Visualizar Veículo";
}
<div class="text-center">

    <h1 class="display-4">Visualizar dados do Veículo</h1>
  
    <img src="https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/cars-subcontent/02-images/cruze-sport6-rs-carros.jpg?imwidth=420" class="rounded float-start" alt="...">
    <img src="https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/cars-subcontent/02-images/cruze-sport6-rs-carros.jpg?imwidth=420" class="rounded float" alt="...">
    <img src="https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/cars-subcontent/02-images/cruze-sport6-rs-carros.jpg?imwidth=420" class="rounded float-end " alt="...">

</div>
<div>
    <a>Placa:</a>
    <br>
    <br>
    <a>Renavam:</a>
    <br>
    <br>
    <a>Nome do Proprietário:</a>
    <br>
    <br>
    <a>CPF:</a>

</div>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">

    <a class="btn btn-primary" asp-controller="Veiculo" asp-action="Index" role="button">Voltar</a>

</div>